body{
    background-color: aliceblue;
}

.container h2{
    background-color: crimson;
    color: white;
    text-align: center;
    margin-top: 50px;
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    padding: 10px 10px;
    box-shadow: 0px 0px 20px 0px #888888;
    
}

#todo-list{
    background-color: white;
    color: #888888;
    text-align: left;
    margin-top: 10px;
    /* margin-left: 300px; */
    height: 290px;
    box-shadow: 0px 0px 20px 0px #888888;
    overflow: scroll;
    /* border: 1px solid #ccc; */
}

.container-3{
    padding-top: 20px;
    padding-left: 370px;
    
}

ul {
    margin: 0;
    padding: 0;
  }

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 15px;
    transition: 0.2s; 

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    float: left;
    font-size: 16px;
    box-shadow: 0px 0px 20px 0px #888888;
    
  }

  .addBtn {
    padding: 10px;
    margin-left: 10px;
    width: 18%;
    background: crimson;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #888888;
  }

  
ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: whitesmoke;
  }
  
  ul li.checked {
    background: #32CD32;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    margin-left: 80%;
  }

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: red;
    color: white;
  }

  .input-pad {
    padding-top: 20px;
    align-self: center;

  }